.container {
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 93%;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    border: solid;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

#display {
    border: 2px solid lightblue;
    padding: 10px;
}

.info {
    width: 360px;
    border: solid;
    padding: 10px;
    border-radius: 10px;
}