.container {
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 93%;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    border: solid;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.messages {
    text-align: left;
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: monospace;
}

.info {
    width: 360px;
    border: solid;
    padding: 10px;
    border-radius: 10px;
}

.messages-container {
    overflow: scroll;
    height: 400px;
}

.users {
    text-align: center;
}