body {
    background-image: url("../product_images/fondo.jpg");
    background-size: cover;
    padding-top: 100px;
}

.content {
    background-color: #99ebff;
    height: 100%;
    width: 500px;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: top;
}

.form {
    padding: 40px;
    justify-content: center;
    display: grid;
}

.order_resume {
    text-align: center;
    padding-top: 30px;
}

.button {
    text-align: center;
}

.back_button {
    padding: 10px;
    background-color: #2e518b;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
}

.image_container {
    text-align: center;
    margin-bottom: 30px;
}

.image {
    width: 50%;
    border-radius: 20px;
}