body {
    background-image: url("../product_images/fondo.jpg");
    background-size: cover;
}

.content {
    background-color: #99ebff;
    height: 100%;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.header2 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    display: flex;
    justify-content: center;
}

.input {
    margin-right: 96px;
}

.login {
    align-content: center;
    display: grid;
}

.header {
    display: inline-flex;
    justify-content: center;
}

.home_img {
    display: flex;
    width: 50%;
    margin: 20px;
}

.home_img2 {
    background-color: #99ebff;
    width: 10%;
    margin: 20px;
}

.product {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.product_img {
    width: 90%;
}

.card-link {
    margin-top: 16px;
    margin-bottom: 16px;
    color: black;
    display: block;
}

.container {
    display: flex;
}

.viewport {
    margin: 10px auto 0;
}

.flip-card {
    display: block;
    position: relative;
    z-index: 1000;
    width: 250px;
    height: 330px;
    font-weight: bold;
    margin: 10px;
}

.flip-card .card-front,
.flip-card .card-back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 500ms;
    -o-transition: -o-transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    transition: transform 500ms;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flip-card .card-front {
    -moz-transform: perspective(300) rotateY(0);
    -webkit-transform: perspective(300) rotateY(0);
    transform: perspective(300) rotateY(0);
    z-index: 900;
    box-shadow: 0 0 20px rgba(115, 113, 113, 0.94) inset;
    box-sizing: border-box;
    background-color: #fff;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF499BEA', endColorstr='#FF207CE5');
    background-size: 100%;
}

.flip-card .card-back {
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 800;
}

.flip-card:hover .card-front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: perspective(300) rotateY(180deg);
    -webkit-transform: perspective(300) rotateY(180deg);
    transform: perspective(300) rotateY(180deg);
}

.flip-card:hover .card-back {
    z-index: 950;
    transform: rotateY(0deg);
    transform: perspective(300) rotateY(0deg);
    box-shadow: 0 0 20px rgba(115, 113, 113, 0.94) inset;
    background-color: #fff;
    *zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF478CE0', endColorstr='#FF0263DB');
    background-size: 100%;
}

.flip-card .card-front,
.flip-card .card-back {
    border-radius: 10px;
    padding: 10px 0;
}